.movies {
    padding: 70px 7%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(32,32,32);
}
.movies__list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    justify-content: space-between;
}
.movies__button {
    font-style: normal;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #FFFFFF;

    background: #2F2F2F;
    border-radius: 6px;

    border: none;
    outline: none;

    width: 80%;
    padding: 11px 0;
    max-width: 320px;
    margin: 100px auto 20px;
}

@media screen and (max-width: 1300px) {
    .movies__list {
        grid-template-columns: repeat(3, minmax(270px, 300px));
    }
}
@media screen and (max-width: 1000px) {
    .movies__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .movies__list {
        justify-items: center;
        grid-template-columns: repeat(1, 100%);
    }
}