.userform {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.userform__title {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 40px 0;
}
.userform__logo {
    width: 38px;
    height: 38px;   
    margin-right: 100%;
}
.login__error {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;    

    color: #EE3465;
    margin: 6px 0 0;
}
.userform__submit {
    width: 100%;
    padding: 13px 0 15px;
    background: #4285F4;
    border-radius: 3px;
    outline: 0;
    border: 0;
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
}
.userform__submit:disabled:hover {
    color: white;
    background-color: #4285F4;
}
.userform__submit:hover, .userform__submit:focus {
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: black;
    background-color: #3DDC84;
}
.userform__submit:disabled {
    opacity: .5;
}
.userform__question {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}
.userform__link {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #4285F4;
}
.userform__link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 500px) {
    .userform__title {
        text-align: center;
    }
    .userform__home-link {
        display: flex;
        justify-content: center;
    }
    .userform__logo {
        margin: 0;
    }
}