.promo {
    display: flex;
    justify-content: space-between;
    background-color: #073042;
    height: fit-content;
    padding: 75px 7%;
}
.promo__text {
    display: flex;
    flex-direction: column;
    min-height: 450px;
}
.promo__title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    /* or 116% */
    
    
    color: #FFFFFF;
    max-width: 600px;
    margin-bottom: 36px;
}
.promo__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}
.promo__button {
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255,255,255, .6);
    border-radius: 3px;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    margin-top: auto;
}
.promo__image {
    object-fit: contain;
    margin-bottom: auto;
}

@media screen and (max-width: 1200px) {
    .promo {
        flex-direction: column-reverse;
        align-items: center;
    }
    .promo__image {
        height: 310px;
        width: 304px;
    }
    .promo__title {
        text-align: center;
        margin-bottom: 22px;
    }
    .promo__paragraph {
        text-align: center;
        margin: auto;
        max-width: 260px;
    }
    .promo__button {
        margin: auto;
    }
}
@media screen and (max-width: 560px) {
    .promo__title {
        font-size: 30px;
    }
    .promo__paragraph {
        font-size: 13px;
    }
    .promo__image {
        height: 210px;
        width: 206px;
    }
}