.header {
    box-sizing: border-box;
    padding: 0 7%;
    width: 100%;
    height: 74px;
    background-color: #202020;
    display: flex;
    align-items: center;
}
.header__landing {
    background-color: #073042;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Margin для логотипа */

.header__logo {
    height: 38px;
    width: 38px;
    margin-right: 50px;
}
.header__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header__link {
    color: white;
    margin-right: 15px;
}
.header__link:last-of-type {
    margin-right: 0;
}
.header__profile {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(170,170,170, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    width: 100px;
    padding: 8px 12px;
    margin: auto 0;
}
.header__profile-icon {
    width: 12px;
    height: 14px;
    margin-right: 7px;
}
.header__profile-text {
    height: fit-content;
    font-style: normal;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin: 0;
}
.header__buttons {
    display: flex;
    margin-left: auto;
}
.header__register {
    font-style: normal;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
    background-color: transparent;
    outline: none;
    border: none;
}
.header__login {
    font-style: normal;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    
    color: #000000;

    background: #3DDC84;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px 20px;
    margin-left: 30px;
}
.header__burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__link {
        display: none;
    }
    .header__register {
        font-size: 10px;
    }
    .header__login {
        font-size: 10px;
        padding: 5px 12px; 
    }
    .header__burger {
        display: flex;
    }
    .header__profile {
        display: none;
    }
}