.toggler {
    display: flex;
    margin-top: 27px;
}
.toggler__checkbox {
    height: 0;
    width: 0;
}
.toggler__label {
    cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: #4285F4;
	display: block;
	border-radius: 100px;
	position: relative;
}
.toggler__label:after {
    content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.toggler__checkbox:checked + .toggler__label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
.toggler__checkbox:checked  + .toggler__label {
    transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);
    background-color: #3DDC84;
}

.toggler__label:active:after {
	width: 15px;
}
.toggler__label-name {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 0 0 14px;
}