.redirect {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(170,170,170, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    width: 100px;
    padding: 8px 12px;
    margin: auto 0;
    text-decoration: none;
}
.redirect:hover {
    cursor: pointer;
}
.redirect__icon {
    width: 12px;
    height: 14px;
    margin-right: 7px;
}
.redirect__text {
    height: fit-content;
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin: 0;
}


@media screen and (max-width: 768px) {
    .redirect {
        display: none;
    }
}