.registration {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 70px 7%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration__fieldset {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    margin: 0 0 24px 0;
    display: flex;
    flex-direction: column;
}
.registration__fieldset:last-of-type {
    margin-bottom: 0;
}
.registration__label {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #8B8B8B;
    margin-bottom: 5px;
}
.registration__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #424242;
    background-color: transparent;
    padding-bottom: 10px;
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: all .3s ease;
}
.registration__input-error {
    border-bottom: 1px solid #EE3465;
    color: #EE3465;
}
.registration__input:focus {
    border-bottom: 1px solid #4285F4;
}
.registration__error {
    font-style: normal;    
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;    

    color: #EE3465;
    margin: 6px 0 0;
}
.registration__error-hidden {
    display: none;
}
@media screen and (max-width: 500px) {
    .registration__title {
        text-align: center;
    }
    .registration__logo {
        margin: auto;
    }
}